# ===== NAVEGADOR =====
EDGE_EXECUTABLE_PATH=C:\Program Files (x86)\Microsoft\Edge\Application\msedge.exe
EDGE_PROFILE_PATH=C:\Users\s-ad-cmaitabira\AppData\Local\Microsoft\Edge\User Data\Profile 1

# ===== URLS =====
CMA_WEB_URL=https://prd.webapp.cmaweb.valenet.valeglobal.net/analises/pontos-alarmados

# ===== CAMINHOS BASE =====
BASE_SHAREPOINT_PATH=C:/Users/s-ad-cmaitabira/Vale S.A/PREDITIVA COMPLEXO ITABIRA - Alarmes_Senseup/CMA 2.0

# ===== SCRIPTS =====
SCRIPTS_DIRECTORY=C:\Users\s-ad-cmaitabira\Documents\ExtracaoDados

# ===== LOGS =====
LOG_DIRECTORY=logs
LOG_LEVEL=INFO
SHAREPOINT_LOG_PATH=C:/Users/s-ad-cmaitabira/Vale S.A/PREDITIVA COMPLEXO ITABIRA - Alarmes_Senseup/CMA 2.0/Historico
SAVE_LOG_SHAREPOINT=true
RESUMO_EXECUCAO_PATH=C:/Users/s-ad-cmaitabira/Vale S.A/PREDITIVA COMPLEXO ITABIRA - Alarmes_Senseup/CMA 2.0/Resumo_Execucao.csv

# ===== TIMEOUTS (em segundos) =====
INPUT_TIMEOUT=15
WAIT_FOR_DOWNLOAD_TIMEOUT=50000
NETWORK_IDLE_TIMEOUT=6000
DIALOG_OPEN_TIMEOUT=5000

# ===== CONFIGURAÇÕES DE EXTRAÇÃO =====
EXTRACTION_AREA=Mineração
EXTRACTION_PROFILE=Normativo
DAYS_BACK=3
HEADLESS_MODE=false
DISABLE_CACHE=true